# For local development, run `supabase status` to get credentials.
# For hosted instance keys head to https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpndHlib29ia3N5amVidXNwdXdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjM0MDUzNjYsImV4cCI6MjAzODk4MTM2Nn0.gXUWU1UOe2IG3p45B_-pcatDR_B_tlHaAlaZDII0jiE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpndHlib29ia3N5amVidXNwdXdxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyMzQwNTM2NiwiZXhwIjoyMDM4OTgxMzY2fQ.IaBO2Dc3FWBpi0zcww9oEXajcgczBaIBZA_wUHwLGZk

# Get your key at https://platform.openai.com/account/api-keys
OPENAI_KEY=sk-OVAJZhdD9pkUBXa4YPXuz-Y9O7OCugyhe6wxyw12S-T3BlbkFJeRD6mxA1PdSf0kOhvOS9LVoByIZYrUELARjHg4K-oA